@{
    ViewData["Title"] = "Gravar Rota";
}

<link href="~/css/agv.css" rel="stylesheet" />
<link href="~/css/leaflet.css" rel="stylesheet" />
<link href="~/css/leaflet_awesome_number_markers.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-2" style="border:solid;">
        <h4>Clique duplo para transferir a rota!</h4>
        <table class="table table-hover" id="bodyTabela">
            <thead>
                <tr>
                    <th><h4>Rota</h4></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="col-lg-2" style="border:solid">
        <table class="table table-hover" id="bodyTabelaRoute">
            <thead>
                <tr>
                    <th><h4>Descrição</h4></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div id="button-update"></div>
    </div>
    <div id="map"></div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/leaflet/leaflet-0.7.3.js"></script>
<script src="~/js/leaflet_awesome_number_markers.js"></script>
<script src="~/js/agv.js"></script>
